bcrypt
certifi
cffi
click
dataclasses
dnspython
elasticsearch
email-validator
Flask
Flask-Admin
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
Pillow
psycopg2-binary
pycparser
six
SQLAlchemy
typing-extensions
urllib3
Werkzeug
WTForms
zipp
